*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
  font-weight: 400;
}

nav {
  background-color: #75e2e6;
  margin: 0px;
  border-bottom: 3px solid #048eaa;
}

#logo {
  width: 65px;
  height: 65px;
  margin: 5px;
}

.navigation {
  display: inline-block;
  float: right;
  margin-right: 30px;
  font-size: 22px;
  padding: 5px;
}

.section-one {
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), no-repeat center/100% url("./images/park.jpg");
  background-attachment: fixed;
  background-size: cover;
}


h1 {
  color: #FFFFFF;
  padding: 30px;
  font-size: 40px;
  margin: 0px;
  font-weight: 400;
}

.some-dogs {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
}

#main-dog {
  border: 5px solid #048eaa;
  height: 250px;
  border-radius:50%;
  width: 250px;
  margin: 50px;
}

form {
  width: 530px;
  margin: auto;

}
.form-title {
   margin-bottom: 0px;
   float: left;
   color: #FFFFFF;
   font-size: 22px;
 }
.name-input {
  width: 530px;
  height: 65px;
  margin-bottom: 30px;
}

.name-submit {
  width: 530px;
  height: 65px;
  margin-bottom: 30px;
  background-color: #75e2e6;
  font-size: 22px;
}

.section-two {
  text-align: center;
  margin: 0px;
  border: 0px;
  padding: 0px;
}

h2 {
  font-weight: 800;
}

.other-dogs {
  display: inline-block;
  width: 30%;
}

.dog-button {
  height: 65px;
  width: 90%;
  background-color: #048eaa;
  color: #ffffff;
  font-size: 22px;
  margin-bottom: 50px;
}

.text-box {
  max-width: 420px;
  font-size: 20px;
  text-align: left;
  padding-left: 40px;
  padding-right: 40px;
  height: 450px;
}

.dog-pic {
  width: 250px;
  height: 250px;
  border-radius:50%;
  border: 5px solid #048eaa;
}

footer {
  height: 250px;
  background-color: #048eaa;
  /* margin: 0px; */
  text-align: center;
  color: #ffffff;
  padding-top: 5%;
  font-size: 22px;
}
.bottom-pics {
  margin: 10px;
}

/* MEDIA QUERIES */

@media screen and (max-width: 500px) {

.navigation {
  font-size: 12px;
  padding: 0px;
  margin-right: 10px;
}

#logo {
  width: 30px;
  height: 30px;
}

h1 {
  font-size: 20px;
}

#main-dog {
  height: 175px;
  width: 175px;
  margin: 0px;
}
.dog-pic {
  width: 175px;
  height: 175px;
}

form {
  width: 200px;
  margin: 17%;
}

.name-input {
  width: 200px;
  height: 35px;
}

.name-submit {
  width: 200px;
  height: 35px;
}
.other-dogs {
  width: 80%;
}

.text-box {
  height: inherit;
  padding: 0px;
  font-size: 14px;
}

}
